@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Arimo', sans-serif;

}

header .container-fluid{
    background-color: #316DC3 !important;

}


